.headerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px auto;
  gap: 45px;

  .signIn,
  .signUp {
    padding: 13px 0;
    color: #000;
    font: 400 16px Inter;
    line-height: 100%; /* 16px */
    letter-spacing: -0.64px;
  }
}
